<ActionBar title="" horizontalAlignment="center" class="action-bar">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <StackLayout orientation="horizontal" android:horizontalAlignment="center">
        <Label text="Subscription Plans" textWrap="true" class="action-label"></Label>
    </StackLayout>
</ActionBar>
<GridLayout rows="*" columns="*">
    <StackLayout row="0" *ngIf="!isLoad" class="container">
        <GridLayout rows="*, auto" columns="" style="background-color: #F3F7F8;" [visibility]="isLoading ? 'collapse' : 'visible'">
            <GridLayout rows="*,55" columns="">
                <TabView class="tab-view" row="0" #tabView [(ngModel)]="tabSelectedIndex" (selectedIndexChange)="onIndexChanged($event)"
                    sdkExampleTitle sdkToggleNavButton>
                    <ng-template ngFor let-item [ngForOf]="tabs">
                        <StackLayout *tabItem="{title: item.Name}" class="tab-view-item">
                            <ScrollView>
                                <StackLayout class="background-color-gray">
                                    <Label [visibility]="item.SubscriptionType == 0 ? 'visible' : 'collapsed'" text="" textWrap="true" class="m-t-10 m-b-25 text-center text-primary"></Label>

                                    <Label [visibility]="item.SubscriptionType != 0 ? 'visible' : 'collapsed'" text="{{'Price: ' + item.PricePerMonth + ' USD / Month Or ' + item.PricePerYear + ' USD / Year' }}"
                                        fontSize="15" textWrap="true" class="m-t-10 m-b-25 text-center text-primary"></Label>
                                    <StackLayout class="background-white-color border-bottom">
                                        <GridLayout rows="*" columns="55,*,100" class="p-l-10 p-r-10 p-t-20 p-b-20">
                                            <Label col="0" text="&#xf0c0;" textWrap="true" verticalAlignment="center" horizontalAlignment="center" class="fa text-center p-l-10 p-r-10 text-primary"
                                                fontSize="25"></Label>
                                            <Label col="1" text="Maximum Memebers" textWrap="true" class="roboto-regular p-l-10 p-r-10" fontSize="15"></Label>

                                            <Label col="2" [text]="item.IsMemberUnlimited ? 'Unlimited' : item.NumberOfMembers" textWrap="true" style="color:#61cc00" class="roboto-bold p-l-10 p-r-10"
                                                fontSize="15" verticalAlignment="center" horizontalAlignment="center"></Label>
                                        </GridLayout>
                                    </StackLayout>

                                    <StackLayout class="background-white-color border-bottom">
                                        <GridLayout rows="*" columns="55,*,100" class="p-l-10 p-r-10 p-t-20 p-b-20">
                                            <Label col="0" text="&#xf041;" textWrap="true" verticalAlignment="center" horizontalAlignment="center"
                                                class="fa text-center p-l-10 p-r-10 text-primary" fontSize="25"></Label>
                                            <Label col="1" text="Interest Points" textWrap="true" class="roboto-regular p-l-10 p-r-10" fontSize="15"></Label>
                                            <Label col="2" [text]="item.IsUnlimitedInterestPoints ? 'Unlimited' : item.NumberOfInterestPoint" textWrap="true" style="color:#61cc00" class="roboto-bold p-l-10 p-r-10"
                                                fontSize="15" verticalAlignment="center" horizontalAlignment="center"></Label>
                                        </GridLayout>
                                    </StackLayout>

                                    <StackLayout class="background-white-color border-bottom">
                                        <GridLayout rows="*" columns="55,*,100" class="p-l-10 p-r-10 p-t-20 p-b-20">
                                            <Label col="0" text="&#xf132;" textWrap="true" verticalAlignment="center" horizontalAlignment="center" class="fa text-center p-l-10 p-r-10 text-primary"
                                                fontSize="25"></Label>
                                            <Label col="1" text="Travel Protection" textWrap="true" class="roboto-regular p-l-10 p-r-10" fontSize="15"></Label>
                                            <Label col="2" [text]="item.IsDriverProtectionEnabled ? 'Enable' : 'Disable'" textWrap="true" [style]="item.IsDriverProtectionEnabled ? 'color:#61cc00' : 'color: #ff0000;'" [class]="item.IsDriverProtectionEnabled ? 'roboto-bold p-l-10 p-r-10' : 'roboto-bold p-l-10 p-r-10'"
                                                fontSize="15" verticalAlignment="center" horizontalAlignment="center"></Label>
                                        </GridLayout>
                                    </StackLayout>

                                    <StackLayout class="background-white-color border-bottom">
                                        <GridLayout rows="*" columns="55,*,100" class="p-l-10 p-r-10 p-t-20 p-b-20">
                                            <Label col="0" text="&#xf0c0;" textWrap="true" verticalAlignment="center" horizontalAlignment="center" class="fa text-center p-l-10 p-r-10 text-primary"
                                                fontSize="25"></Label>
                                            <Label col="1" text="Receive Notifications on arriving and departing from interest points" textWrap="true" class="roboto-regular p-l-10 p-r-10"
                                                fontSize="15"></Label>
                                            <Label col="2" [text]="item.NotificationForInterestPoint ? 'Enable' : 'Disable'" textWrap="true" [style]="item.NotificationForInterestPoint ? 'color:#61cc00' : 'color: #ff0000;'" [class]="item.NotificationForInterestPoint ? 'roboto-bold p-l-10 p-r-10' : 'roboto-bold p-l-10 p-r-10'"
                                                fontSize="15" verticalAlignment="center" horizontalAlignment="center"></Label>
                                        </GridLayout>
                                    </StackLayout>

                                    <StackLayout class="background-white-color border-bottom">
                                        <GridLayout rows="*,*" columns="55,*,100" class="p-l-10 p-r-10 p-t-20 p-b-20">
                                            <Label col="0" text="&#xf0f3;" textWrap="true" verticalAlignment="center" horizontalAlignment="center" class="fa text-center p-l-10 p-r-10 text-primary"
                                                fontSize="25"></Label>
                                            <Label col="1" text="Can receive notifications from application with information" textWrap="true" class="roboto-regular p-l-10 p-r-10"
                                                fontSize="15"></Label>
                                            <Label col="2" [text]="item.CanReceiveNotificationFromApp ? 'Enable' : 'Disable'" textWrap="true" [style]="item.CanReceiveNotificationFromApp ? 'color:#61cc00' : 'color: #ff0000;'" [class]="item.CanReceiveNotificationFromApp ? 'roboto-bold p-l-10 p-r-10' : 'roboto-bold p-l-10 p-r-10'"
                                                fontSize="15" verticalAlignment="center" horizontalAlignment="center"></Label>
                                            <Label row="1" col="1" colSpan="2" style="color: #b0afaf" class="roboto-medium-italic p-l-10 p-r-10 p-t-10" text="For example: there is a new hurricane coming and I want to send out a notification to all users of the app saying: &quot;If you are traveling to Neverland please make sure your app is functioning properly in case of any emergency.&quot; or other stuff like this."
                                                textWrap="true"></Label>

                                        </GridLayout>
                                        <!-- <GridLayout rows="*" columns="55,*">
                                            <Label col="1" text="For example: there is a new hurricane coming and I want to send out a notification to all users of the app saying: &quot;If you are traveling to Neverland please make sure your app is functioning properly in case of any emergency.&quot; or other stuff like this"
                                                textWrap="true" class="color-gray roboto-medium-italic"></Label>
                                        </GridLayout> -->
                                    </StackLayout>

                                </StackLayout>
                            </ScrollView>
                        </StackLayout>
                    </ng-template>
                </TabView>

                <Button row="1" text="Subscribe Now" class="btn-pink p-0 m-0" (tap)="onSubscribeTab()"></Button>
            </GridLayout>

            <StackLayout row="1" orientation="horizontal" class="bottom-tab">
                <StackLayout (tap)="group()" width="33.33%" class="tab-btn text-primary text-center p-b-0 m-t-10" verticalAlignment="center" horizontalAlignment="center">
                    <Label text="&#xf0c0;" textWrap="true" class="fa text-center" fontSize="25"></Label>
                    <Label text="Groups" textWrap="true" class="roboto-medium text-center p-b-10"></Label>
                </StackLayout>

                <StackLayout (tap)="updateProfile()" width="33.33%" class="tab-btn text-primary text-center p-b-0 m-t-10" verticalAlignment="center" horizontalAlignment="center">
                    <Label text="&#xf2c0;" textWrap="true" class="fa text-center" fontSize="25"></Label>
                    <Label text="Profile" textWrap="true" class="label text-center p-b-10"></Label>
                </StackLayout>

                <StackLayout width="33.33%" class="tab-btn text-primary text-center p-b-0 m-t-10" verticalAlignment="center" horizontalAlignment="center">

                    <AbsoluteLayout verticalAlignment="center" horizontalAlignment="center">
                        <StackLayout verticalAlignment="center" horizontalAlignment="center">
                            <Label text="&#xf0a2;" textWrap="true" class="fa text-center" fontSize="25"></Label>
                            <Label text="Notification" textWrap="true" class="label text-center p-b-10"></Label>
                        </StackLayout>
                        <!-- <StackLayout left="46" top="0" style="height: 25; width: 25;padding:5 5 5 5;color: #fff; background-color: red; border-radius: 50">
                            <Label text="100" left="50" top="0" fontSize="8"></Label>
                        </StackLayout> -->

                    </AbsoluteLayout>

                </StackLayout>
            </StackLayout>
        </GridLayout>


    </StackLayout>

    <ActivityIndicator [busy]="isLoad" [visibility]="isLoad ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
</GridLayout>