<ActionBar title="" horizontalAlignment="center" class="action-bar">
    <NavigationButton text="Back" ios:tintColor="#FFF" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <StackLayout orientation="horizontal" android:horizontalAlignment="center">
        <Label text="Invite Member" textWrap="true" class="action-label"></Label>
    </StackLayout>
</ActionBar>
<GridLayout rows="*" columns="*">

    <StackLayout row="0" *ngIf="!isLoad">
        <ScrollView>
            <StackLayout class="p-24" style="background-color: #F3F7F8;" [visibility]="isLoading ? 'collapse' : 'visible'">

                <StackLayout [formGroup]="userForm" class="m-t-24 white-box">
                    <TextField formControlName="Email" hint="Enter email" text="" class="text-field"></TextField>
                    <control-messages [control]="userForm.controls.Email" controlName="Email"></control-messages>



                    <Button text="Submit" (tap)="OnSubmit()" style="margin-top: 25px; color: #fff; background-color: #ff0068; margin-left: 56px; margin-right: 56px;"></Button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <ActivityIndicator [busy]="isLoad" [visibility]="isLoad ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
</GridLayout>