<GridLayout rows="*" columns="*" class="coverImage" style="background-image: url('~/images/background.png');">

    <StackLayout style="background-color:#990b0b0b;" row="0" *ngIf="!isLoad">
        <ScrollView>
            <StackLayout class="p-24" [visibility]="isLoading ? 'collapse' : 'visible'">
                <Image src="res://signin_logo" class="m-t-28" style="width: 300px;"></Image>

                <StackLayout [formGroup]="userForm" class="m-t-24 white-box">
                    <Label text="Forgot Password" textWrap="true" class="roboto-medium black-color" fontSize="18"></Label>
                    <!-- <Image src="res://lock_icon" style="margin-top: 28px; width: 300px;"></Image> -->
                    <!-- <StackLayout style="margin-top: 25px;">
                           
                        </StackLayout> -->

                    <TextField formControlName="Email" hint="Enter your email" text="" class="text-field"></TextField>
                    <control-messages [control]="userForm.controls.Email" controlName="Email"></control-messages>



                    <Button text="Submit" (tap)="onSubmit()" style="margin-top: 25px; color: #fff; background-color: #ff0068; margin-left: 56px; margin-right: 56px;"></Button>

                </StackLayout>

            </StackLayout>
        </ScrollView>



    </StackLayout>

    <ActivityIndicator [busy]="isLoad" [visibility]="isLoad ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
</GridLayout>