
<GridLayout rows="*" columns="*" class="coverImage" style="background-image: url('~/images/background.png');">
    <StackLayout style="background-color:#990b0b0b;" row="0" *ngIf="!isLoad">
        <ScrollView>
            <StackLayout style="padding: 24 24 24 24;" [visibility]="isLoading ? 'collapse' : 'visible'">
                <Image src="res://signin_logo" style="margin-top: 28px; width: 300px;"></Image>
                <StackLayout [formGroup]="userForm" style="margin-top: 25px; background-color: #FFF; border-radius: 7px; padding: 18 18 18 18;">
                        <Label text="Verify Token" textWrap="true" class="roboto-medium" fontSize="18" style="color:#000000;"></Label>

                    <TextField formControlName="token" hint="Token" text="" style="border-color: #D3D9D9;"></TextField>
                    <control-messages [control]="userForm.controls.token" controlName="Token"></control-messages>

                    <Button text="Validate" style="margin-top: 25px; color: #fff; background-color: #ff0068; margin-left: 56px; margin-right: 56px;" (tap)="ValidateRegistration()"></Button>

                    <Label text="OR" class="h4 text-center m-t-10 m-b-10" textWrap="true"></Label>

                    <Label text="Resend Token" textWrap="true" (tap)="ResendRegistrationToken()" style="margin-top: 25px; color: #ff0068; " class="text-center"></Label>

                    <!-- <Button text="Resend Token" class="btn btn-primary-custom btn-rounded-lg" (tap)="ResendRegistrationToken()"></Button> -->
                </StackLayout>
            </StackLayout>

        </ScrollView>
    </StackLayout>
    <ActivityIndicator [busy]="isLoad" [visibility]="isLoad ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"
        row="0"></ActivityIndicator>
</GridLayout>